{% extends "base.html" %}
{% block title %}Добавьте услугу к заявке{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Создать">
</form>
<table border="1" bordercolor="black">
    <tr>
        <td>#</td>
        <td>Название</td>
        <td>услуга</td>
    </tr>
    {% for offer in actualoffers %}
        <tr>
            <td>{{ offer.pk }}</td>
            <td>{{ offer.OfferName }}</td>
            <td>{{ offer.OfferPrice }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}