{#TODO: old code - need to delete#}
{% extends "base.html" %}
{% block title %}Создание заявки{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить услугу">
</form>
<table border="1" bordercolor="black">
    <tr>
        <td>#</td>
        <td>Услуга</td>
        <td>Стоимость</td>
    </tr>
    {% for offer in offers%}
        <tr>
            <td>{{ offer.pk }}</td>
            <td>{{ offer.OfferName }}</td>
            <td>{{ offer.OfferPrice }}</td>
        </tr>
    {% endfor %}
</table>
{#<p><a href="{% url "add_offer" %}">Добавть услугу</a> </p>#}
{% endblock %}