{% extends "base.html" %}
{% block title %}Test formset{% endblock %}
{% block content %}
{% if order_form %}
    <form action="." method="post">
        {% csrf_token %}
        {{ orderdetail_formset.management_form }}
        <table>
            {{ order_form.as_table }}
            {% include "widgets/orderofferdetail.html" %}
{#            {% for form in orderdetail_formset.forms %}#}
{#                <table>{{ form }}</table>#}
{#            {% endfor %}#}
        </table>
        <p><input type="submit" value="Submit!" /></p>
    </form>
{% endif %}
{% for error in orderdetail_formset.errors %}
    {{ error }}
{% endfor %}
<br>
    {{ orderdetail_formset.non_form_errors }}
{% endblock %}