{% extends 'base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
<table border="1" bordercolor="#008b8b" bgcolor="#008b8b">
<tr>
    <td><a href="{% url "create_order" %}"><h2>Создать заявку</h2></a> </td>
</tr>
</table>
<table border="1" bordercolor="black">
    <tr>
        <td>#</td>
        <td>Клиент</td>
        <td>Дата создания</td>
        <td>Статус</td>
        <td>Плановая сумма</td>
        <td>Фактическая сумма</td>
    </tr>
    {% for order in orders%}
        <tr>
            <td>{{ order.pk }}</td>
            <td>{{ order.ClientName }}</td>
            <td>{{ order.CreateTime }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.PlanTotalSumm }}</td>
            <td>{{ order.FactTotalSumm }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}